#calcolatrice {
  background-color: blue;
  display: flex;
  flex-flow: row wrap;
  width: 56vw;
  height: 100vh;
  border-radius: 10%;
}
#display {
  position: relative;
  width: 51.5vw;
  height: 15%;
  text-align: end;
  font-weight: bold;
  font-size: 3em;
  border-radius: 8%;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  margin: 10px;
  background-color: rgb(210, 210, 243);
  left: 1.2vw;
  top: 3vh;
}
#numeri {
  position: relative;
  right: 1vw;
  top: 2vh;
}
.tastiera {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 60vw;
  height: 60vh;
  left: 1.2vw;
  bottom: 3vh;
}
.tasto {
  background: tomato;
  padding: 10px;
  width: 10vw;
  height: auto;
  margin: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border-radius: 20%;
  border-style: solid;
  border-color: black;
}
.clear {
  width: 23.5vw;
  height: auto;
}

.tasto:active {
  background: rgb(6, 130, 187);
  color: rgb(242, 245, 81);
  border-style: solid;
  border-color: rgb(242, 245, 81);
}
